/* Hexcode color pallet:
 #0E0017 [Rich Black]
 #200333
 #FF6600 [Safety Orange]
 #FF9249 [Mango Tango]
*/

#landing-1,
#landing-2 {
    display: table;
    width: 100%;
    height: 400px;
    font-family: 'Playfair Display', serif;
    

}

#landing-1 {
    background-color:#200333;
}
#landing-1:hover{
    background: linear-gradient(181deg, #186cce, #e42505, #ecbf0a, #06c60d);
    background-size: 800% 800%;

    -webkit-animation: google-landing-animated 30s ease infinite;
    -moz-animation: google-landing-animated 30s ease infinite;
    animation: google-landing-animated 30s ease infinite;
}
@-webkit-keyframes google-landing-animated {
    0% {
        background-position: 49% 0%
    }
    50% {
        background-position: 52% 100%
    }
    100% {
        background-position: 49% 0%
    }
}

@-moz-keyframes google-landing-animated {
    0% {
        background-position: 49% 0%
    }
    50% {
        background-position: 52% 100%
    }
    100% {
        background-position: 49% 0%
    }
}

@keyframes google-landing-animated {
    0% {
        background-position: 49% 0%
    }
    50% {
        background-position: 52% 100%
    }
    100% {
        background-position: 49% 0%
    }
}

#landing-2 {
   background-color:#200333;
}
#landing-2:hover{
     background: linear-gradient(181deg, #0053b4, #fffdfd, #0053b4, #fffdfd);
    background-size: 800% 800%;

    -webkit-animation: facebook-landing-animated 30s ease infinite;
    -moz-animation: facebook-landing-animated 30s ease infinite;
    animation: facebook-landing-animated 30s ease infinite;
}
@-webkit-keyframes facebook-landing-animated {
    0% {
        background-position: 49% 0%
    }
    50% {
        background-position: 52% 100%
    }
    100% {
        background-position: 49% 0%
    }
}

@-moz-keyframes facebook-landing-animated {
    0% {
        background-position: 49% 0%
    }
    50% {
        background-position: 52% 100%
    }
    100% {
        background-position: 49% 0%
    }
}

@keyframes facebook-landing-animated {
    0% {
        background-position: 49% 0%
    }
    50% {
        background-position: 52% 100%
    }
    100% {
        background-position: 49% 0%
    }
}

#google-logo,#facebook-logo {
    opacity:0;
}



body {
    background-color: #0E0017;
    position: relative;
}
@media(min-width:0px){
    #google-logo,#facebook-logo{
        height:0px;
        width:0px;
    }
    #email{
        font-size:15px;
    }
    #google-logo,#facebook-logo{
        height:100%;
        width:100%;
        display:block;
    }
    #article-link{
        margin-bottom: 10px;
    }
    #article-img{
        height:350px;
        width:200px;
    }
    #nav-brand{
        text-align:center;
    }
    
}
@media(min-width:580px){
 #data{
     padding-top:30px;
 }
}
/*xs+*/

@media(min-width:768px) {
    h1 {
        font-size: 60px
    }
    h2 {
        font-size: 30px;
    }
    #img {
        padding-left: 60px
    }
    #google-logo,#facebook-logo{
        height:100%;
        width:350px;
        display:block;
    }
    p,li {
        font-size: 20px;
    }
     #email{
        font-size:30px;
    }
   #article-img{
        height:100%;
        width:100%;
    }
    
}

@media(min-width:992px) {
    h1 {
        font-size: 70px;

    }
    h2 {
        font-size: 50px;
    }
    #img-1 {
        padding-left: 100px
    }
    p,li {
        font-size: 30px;
    }
}

@media(min-width:1200px) {
    #img-1 {
        padding-left: 150px;
    }
}

#nav-brand {
    color: white;
    font-family: 'Playfair Display', serif;

}

#nav-section {
    color: white;
    font-family: 'Quicksand', sans-serif;

}
#nav{
    background-color:#FF660099;
}
#nav-item{
    font-size:20px;
}
h1 {
    color: white;
}

h3 {
    color: #FFF3B5
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

/* Custom css links */

#article-link {
   border-left: 6px solid white;
   background-color:#200333;
    color: white;
    padding: 15px 50px;
    display: inline-block;
    transition:0.3s;
}
#article-link:hover {
    
background-image: linear-gradient(#4B88A2,#41f471);
    

}
#source-link-2{
    margin-bottom:20px;
}
#section-1,
#section-2,
#section-3 {
    background-image: linear-gradient(#FF9249, #FF6600);
    padding:10px;
    font-family: 'Playfair Display', serif;

}
#content-1,#content-2,#content-3{
    font-family: 'Quicksand', sans-serif;
}
#links{
    font-family:'Quicksand',sans-serif;
}
#fact {
    background-image: linear-gradient(#FF924950, #FF6600);
}

p {
    color: white;
}
#content-2{
    margin-top:10px;
}
#sec2-col {
    padding:15px;
    background-color: #200333
}

#level-1 {
    background-color: #4B88A2;
    padding:50px;
}

#level-2 {
    background-color: #FFBB00;
    padding:50px;
}

#level-3 {
    background-color: #960000;
    padding:50px;
}
li{color:#0E0017;}
#credits{
    padding-top:50px;
    padding-bottom:50px;
    position:inline;
    font-family: 'Quicksand', sans-serif;
}
#contact {
    color:white;
    
;
}
